.title  {
  color: wheat;
  text-align: center;
  
  text-decoration: line-through;
  text-decoration-color: red;
}

body {
  background-color: grey;
}

p {
  color: wheat;
  padding-right: 5%;
  text-align: right;
}

.subtitle {
    color: wheat;
  text-align: center; 
  text-decoration: line-through;
  text-decoration-color: rgb(0, 0, 0);
  text-decoration-thickness: 2px;
}